<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Barcode Printing</title>
<meta name="pdfkit-page-size" content="Legal"/>

</head>

<style>
@media screen {
        .print-format {
                max-width: 1.31in !important;
                min-width: 1.31in !important;
                max-height: 0.81in !important;
                min-height: 0.81in !important;
                padding: 0 !important;
        }
}

</style>
<body>
{% var promo_item_value = data[0][report.columns[6].fieldname] %}
{% var item_value = data[0][report.columns[2].fieldname] %}
{% for(var i=0; i < data[0][report.columns[5].fieldname] ; i++) { %}
<div style="page-break-after: always">
    <span>{{ item_value }}</span>
    <img style="height: 0.81in;width: 1.31in" src="../{{ promo_item_value }}" />
</div>
{% } %}

</body>
</html>