    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!--<meta charset="UTF-8">-->

        <title>Barcode Printing</title>
        <meta name="pdfkit-orientation" content="Landscape"/>
    </head>

    {% if doc.status == "Approved" %}
        {% if doc.type == "Small" %}
        <style>
        @media screen {
            .print-format {
                min-width: 1.3in !important;
                max-width: 1.3in !important;
                min-height:0.50in !important;
                max-height:0.75in !important;
                padding: 0 !important;
                line-height: 0.1in !important;
            }
        }
        </style>
        {% endif %}

        {% if doc.type == "Big" %}
        <style>
        @media screen {
            .print-format {
                min-width: 7in !important;
                max-width: 7in !important;
                min-height: 2.8in !important;
                padding: 0 !important;
                margin-top: 2in !important;
                line-height: 0.000001in !important;
                transform: rotate(90deg)
            }
        }
        </style>
        {% endif %}

        <body>
        {% if doc.type == "Big" %}
        <div style="width: 7in !important;height: 2.8in !important;">
            <div>
                <div style="border: 1px white solid;height:2in !important;!important;width: 5.505in;padding: 0 !important" >

                    <div style="height: 1.2in !important; font-weight: bold !important;letter-spacing: -3.5px !important; margin-left: 3%;margin-top:8%;line-height:1;font-size: 40px !important;font-family: 'Times New Roman', Times, serif; ">
                        {{ doc.item_name }} @ {{ doc.item_price }}
                    </div><br>

                    <div style="font-weight: bold !important;letter-spacing: -3.5px !important;margin-left: 3%;margin-top: 8%;line-height: 1; !important;font-size:40px !important; font-family: 'Times New Roman', Times, serif; ">
                        {{ doc.item_name }} @ {{ doc.item_price }}
                    </div><br>
                </div>
                <div  style="border: 1px white solid;height:2in !important;vertical-align:middle !important;" align="center">

                    <section style="width: 3in; height: 1in; transform: rotate(90deg) !important;margin-left: 65% !important;margin-top: -20% !important;">
                        {{ doc.html_code }} <br>
                        <span style="font-size: 16px !important; ">{{ doc.item_barcode_number }}</span>
                    </section> <br>
                    <section style="z-index:-1 !important;position:relative !important;width: 2.5in; height: 1in;transform: rotate(90deg) !important;margin-left: 68% !important;margin-top: 12% !important;">
                        {{ doc.html_code }}<br>
                        <span style="font-size: 16px !important;">{{ doc.item_barcode_number }}</span>
                    </section>
                </div>
            </div>
        </div>

        {% endif %}
        {% if doc.type == "Small" %}
            {% for i in range(0, doc.quantity | int) %}

        <div style="width: 1.8in !important;margin-bottom: 3% !important">
                <span style="font-size: 14px;margin-left: 15% !important; font-weight: bold">{{ doc.item_name }}</span>
                <div style="position: absolute;width: 2.5in !important;margin-top: -0.03in !important; margin-left: -20% !important">{{ doc.html_code }}</div>

                <table width="100%" style="margin-bottom: -0.20in !important;margin-top: 0.30in !important">
                    <tr>
                        <td width="75%">
                            <span style="margin-bottom: 1% !important; margin-left: 15% !important;font-size: 11px !important; font-weight: bold">Gaisano</span>
                        </td>
                        <td width="25%" >
                             <span style="margin-bottom: 1% !important; font-size: 11px !important; font-weight: bold">{{ doc.item_barcode_number }}</span>
                        </td>
                    </tr>
                </table>
                <table width="100%" >
                    <tr>
                        <td width="75%" style=" margin-left: 15% !important">
                           <span style="font-size: 14px !important; margin-left: 15% !important; font-weight: bold">  P </span>
                        </td>
                        <td width="25%" >
                           <span style="margin-top: -2% !important;font-size: 14px !important; font-weight: bold"> {{ doc.item_price }} </span>
                        </td>
                    </tr>
                </table>
                </div>
            {% endfor %}
        {% endif %}

        </body>
    {% else %}
    <script>
    frappe.throw("Current Barcode Printing not Approved!. Make sure your Barcode Printing Manager approved it")

    </script>

    {% endif %}

    </html>