<html>
<style>
	@media screen {
		.print-format {
			padding: 0.25in;
		}
	}
</style>

<table class="no-border">
	<tbody>
        <tr>
            <td class="text-left" style="width: 76%;font-size: 200%">
                    {{ doc.supplier }}
            </td>
            <td class="text-right" style="width: 50%;font-size: 150%">
                PROMOTIONS
            </td>
        </tr>
        <tr>
            {%- if doc.promotion_scheme == "Buy x Take x" -%}
                {%- if doc.item_table[0].description == doc.item_table[1].description and doc.item_table[0].quantity_pitem == "1" and doc.item_table[1].quantity_pitem == "1" -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                        B1T1
                    </td>
                {% else %}
                     <td class="text-left" style="width: 70%;font-size: 200%">
                        Bundling
                    </td>
                {%- endif %}

                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
            {%- if  doc.promotion_scheme == "Rebate" -%}
                {%- if doc.rebate == "50" and doc.percentage == 1 -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                        Less 50%
                    </td>
                {%- endif %}
                {%- if doc.rebate != "50" and  doc.percentage == 1 -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                       Price off {{doc.rebate}} %
                    </td>
                {%- endif %}
                {%- if doc.rebate and doc.percentage == 0 -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                       Price off {{doc.rebate}}
                    </td>
                {%- endif %}

                <td class="text-right" style="width: 50%;font-size: 130%">
                    {{doc.name}}
                </td>
            {%- endif %}
            {%- if doc.promotion_scheme == "Ka Negosyo" -%}
                <td class="text-left" style="width: 70%;font-size: 200%">
                        Ka Negosyo
                </td>
                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
            {%- if doc.promotion_scheme == "Suki Points" -%}
                <td class="text-left" style="width: 70%;font-size: 200%">
                        Suki Points
                </td>
                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
            {%- if doc.promotion_scheme == "Buy x Take x + Rebate" -%}
                    <td class="text-left" style="width: 70%;font-size: 200%">
                        Buy x Take x + Rebate
                    </td>

                <td class="text-right" style="width: 50%;font-size: 130%">{{doc.name}}</td>
            {%- endif %}
        </tr>
	</tbody>
</table>

<hr>

<div style="width: 100%;">
	<table width="100%" style="margin: 1% 1% 1% 1%;border:none !important;">
         <tr>
            <td class="text-right" style="width: 15%;font-size: 140%">
                {{_("Promo Name")}}
            </td>
            <td colspan="3" class="text-left" style="width: 85%;font-size: 120%">
                <b><span style="margin-left: 3%"> {{ doc.promo_name }} </span></b>
            </td>

		</tr>
		<tr>
			<td class="text-right" style="width: 15%;font-size: 140%">
                {{_("Allocation")}}
            </td>

            <td class="text-left" style="width: 30%;font-size: 140%">
                <span style="margin-left: 10%"> {{doc.total}} </span>
            </td>

            <td class="text-right" style="width: 20%;font-size: 140%">
                 {{_("Budget")}}
            </td>

			<td class="text-left" style="width: 30%;font-size: 140%">
                <span style="margin-left: 10%"> {{ frappe.db.get_value("Promotions Budget", doc.debit_memo, "debit_memo")}}<span style="font-size: 80%">({{ doc.debit_memo}})</span> </span>
            </td>
		</tr>
        <tr>
			{%- if doc.purchase_order or doc.purchase_invoice or doc.receiving_report %}

                <td class="text-right" style="height: 5%;width: 15%;font-size: 140%">
                    {%- if doc.purchase_order %} PO/ {%- endif %} {%- if doc.receiving_report %} RR/ {%- endif %} {%- if doc.purchase_invoice %} PI/ {%- endif %}
                </td>

                <td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                    <span style="margin-left: 10%"> {{ doc.purchase_order }} </span>
                </td>
            {%- else %}
                <td class="text-right" style="height: 5%;width: 15%;font-size: 140%"></td>
                <td class="text-left" style="height: 5%;width: 30%;font-size: 140%"></td>
            {%- endif %}

           <td class="text-right" style="height: 5%;width: 20%;font-size: 140%">
                 {{_("Total Budget")}}
            </td>

			<td class="text-left" style="height: 5%;width: 30%;font-size: 140%">
                <span style="margin-left: 6%"> {{ "{:,.2f}".format(frappe.db.get_value("Promotions Budget", doc.debit_memo, "total_budget"))}} </span>
            </td>
		</tr>
    </table>
</div>
	<table style="margin-top: 30px" width="100%">
        <tr>
            <td class="text-center" style="font-weight: bold;width: 30%;border: 1px solid black;">{{ _("Item") }}</td>
            <td class="text-center" style="font-weight: bold;width: 40%;border: 1px solid black;">{{ _("Description") }}</td>
            <td class="text-center" style="font-weight: bold;width: 15%;border: 1px solid black;">{{ _("Quantiy") }}</td>
            <td class="text-center" style="font-weight: bold;width: 15%;border: 1px solid black;">{{ _("SRP") }}</td>
        </tr>
         {%- for i in doc.item_table -%}
            <tr>
                <td style="width: 30%;border: 1px solid black;">{{ i.promo_item }}</td>
                <td class="text-left" style="width: 40%;border: 1px solid black;">
                   {{ i.description }}
                    {%- if i.free_item -%}
                       <span style="font-size: 80%;font-weight: bold"> (Free Item) </span>
                    {%- endif -%}
                </td>
                <td class="text-right" style="width: 15%;border: 1px solid black;">
                    {{ i.quantity_pitem }}
                </td>
                <td class="text-right" style="width: 15%;border: 1px solid black;">
                    {{ "{:,.2f}".format(i.price_rate | float) }}
                </td>
            </tr>
        {%- endfor -%}
        <tr>
            <td style="width: 35px;border: 1px solid black;"></td>
            <td style="width: 17px;border: 1px solid black;"></td>
            <td class="text-right" style="width: 17px;border: 1px solid black;">
                <b> SRP of Bundle </b>
            </td>
            <td class="text-right" style="width: 17px;border: 1px solid black;">
                <b> {{ "{:,.2f}".format(doc.srp_of_bundle)  }} </b>
            </td>
        </tr>
    </table>

<table style="margin-top: 100px" width="100%">
        <tr>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 15%">Prepared by:</td>
            <td class="text-left" style="border-bottom: 1px solid black;font-size: 120%;font-weight: bold;width: 35%"></td>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 15%">Approved by:</td>
            <td class="text-left" style="border-bottom: 1px solid black;font-size: 120%;font-weight: bold;width: 35%"></td>
        </tr>
</table>
<table style="margin-top: 50px" width="100%">
        <tr>
            <td class="text-center" style="font-size: 120%;font-weight: bold;width: 15%">Checked by:</td>
            <td class="text-left" style="border-bottom: 1px solid black;font-size: 120%;font-weight: bold;width: 35%"></td>
            <td class="text-left" style="font-size: 120%;font-weight: bold;width: 15%"></td>
            <td class="text-left" style="font-size: 120%;font-weight: bold;width: 35%"></td>
        </tr>
</table>
</html>
