<html>
<style>
	@media screen {
		.print-format {
			padding: 0.25in;

		}
        .vertical-text {
	transform: rotate(270deg);
	transform-origin: left top 0;
}


	}

</style>
<div style="width: 100%;">
	<table width="100%"  style="margin: 1% 1% 1% 1%;border:none !important;">
        <tr>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                Date
            </td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                {%= filters.date %}
            </td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                DM #
            </td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                                {{data[0][report.columns[7].fieldname]}}
            </td>
		</tr>
		<tr>
			<td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                Supplier
            </td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                {{data[0][report.columns[6].fieldname]}}
            </td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                 Budget
            </td>
			<td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                            {{data[0][report.columns[8].fieldname]}}

            </td>
		</tr>
        <tr>
			<td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                Promotion Scheme
            </td>

            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%">
                {%= filters.promotions_scheme %}
            </td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%"></td>
            <td class="text-left" style="height: 5%;width: 25%;font-size: 140%"></td>
		</tr>
    </table>
    <table width="100%"  style="border:solid 1px !important;">
        <tr>
			<td class="text-center" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">
                Barcode
            </td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">
                Qty
            </td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 40%;font-size: 100%">
                Description
            </td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">
                Price
            </td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 30%;font-size: 100%">
                Series
            </td>
		</tr>
        {% for(var i=0; i < data.length - 1 ; i++) { %}
        <tr>
			<td class="text-left" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">
                {{data[i][report.columns[1].fieldname]}}
            </td>
            <td class="text-left" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">
                {{data[i][report.columns[2].fieldname]}}
            </td>
            <td class="text-left" style="border: 1px solid black;height: 5%;width: 40%;font-size: 100%">
                {{data[i][report.columns[3].fieldname]}}
            </td>
            <td class="text-left" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">
                {{data[i][report.columns[4].fieldname]}}
            </td>
            <td class="text-left" style="border: 1px solid black;height: 5%;width: 30%;font-size: 100%">
                {{data[i][report.columns[5].fieldname]}}
            </td>
		</tr>
        {% } %}
        <tr>
			<td class="text-right" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">Total Qty</td>
            <td class="text-left" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%">{{data[data.length-1][report.columns[2].fieldname]}}</td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 40%;font-size: 100%"></td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 10%;font-size: 100%"></td>
            <td class="text-center" style="border: 1px solid black;height: 5%;width: 30%;font-size: 100%"></td>
		</tr>
    </table>
</div>
</html>
